body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #000;
}

.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    text-align: center;
}
.box h1{
    color: #ffff;
}
.input{
    border: 1px solid #3498db;
    background:none;
    margin: 20px auto;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    padding: 14px 10px;
    width: 200px;
    outline : none;
    color: #3498db;
    border-radius: 24px;
    transition:0.25s;
}

.input:focus{
    width: 280px;
    border-color: #2ecc71;
    
}
.heart{
    margin-top: 100px;
	height: 70px;
	width: 70px;
	background: #f20044;
	position: relative;
	transform: rotate(-45deg);
	box-shadow: -10px 10px 90px  #f20044;
	animation: heart 0.6s linear infinite;
}
@keyframes heart{
	0%{
         transform: rotate(-45deg) scale(1.07);
	}
	80%{
         transform: rotate(-45deg) scale(1.0);
	}
	100%{
         transform: rotate(-45deg) scale(0.8);
	}
}
.heart:before{
	content: '';
	position: absolute;
    margin-left: -35px;
	height: 70px;
	width: 70px;
	background: #f20044;
	top: -50%;
	border-radius: 50px;
	box-shadow: -10px -10px 90px  #f20044;
}
.heart:after{
	content: '';
	position: absolute;
	height: 70px;
	width: 70px;
	background: #f20044;
	right: -50%;
	border-radius: 50px;
	box-shadow: 10px 10px 90px  #f20044;
}
